.bodyBg{background-color: #F8F8F8;}

.btchInfo{padding: 0 0 90px;}
.btchInfo > ul{margin-left: 17px;margin-right: 17px;}
.btchInfo .amt{font-size: 14px;color: #333333;}
.btchInfo .amt em{font-weight: 700;}
.btchInfo :global .topTitleUl{background-color: #F8F8F8;border-radius: 25px;border: none;padding-top: 29px;}

.btchIng{padding: 0 17px;}
.btchIng .step{text-align: center;}
.btchIng .step img:first-child{padding-right: 20px;}
.btchIng .step img:last-child{padding-left: 20px;}
.btchIng > ul{padding-bottom: 90px;}
.btchIng > ul .uploadArea{}
.btchIng > ul .uploadArea > div{display: grid;padding-top: 5px;grid-template-columns: 1fr 1fr 1fr;grid-column-gap: 10px;}
.btchIng > ul .uploadArea > div label{background-color: #F8F8F8;border-radius: 12px;display: flex;align-items: center;justify-content: center;height: 77px;}
.btchIng > ul .uploadArea input{display: none;}
.btchIng > ul .uploadArea > div > div{position: relative;}
.btchIng > ul .uploadArea > div > div .vchrImg{border-radius: 12px;object-fit: cover;width: 100%;}
.btchIng > ul .uploadArea > div > div .del{position: absolute;top: 0;right: 0;}
.btchIng .oderNo{font-size: 14px;font-weight: 700;}

.btchArea{padding-top: 24px;}

.compDtpt{}
.compDtpt .content{padding: 0 17px;}
.compDtpt .content > ul{padding-top: 24px;}

.compDtptDiv{transition: all 0.3s ease-in;top: 100%;position: fixed;height: 100%;width: 100%;background-color: #FFFFFF;z-index: 1;opacity: 0;overflow: auto;}
.compDtptDiv.active{transition: top 0.3s ease-out;top: 0;opacity: 1;}
.compDtptDiv .titleDiv{display: flex;padding: 22.5px 20px;align-items: center;position: sticky; top: 0;background-color: #FFFFFF;z-index: 1;}
.compDtptDiv .titleDiv h5{font-weight: 500;font-size: 16px;line-height: 19px;color: #333333;flex: 1;}
.compDtptDiv .summDiv{padding: 16px 20px;border-bottom: solid 8px #F2F2F2;}
.compDtptDiv h5{font-weight: 700;font-size: 14px;line-height: 17px;color: #333333;padding-bottom: 8px;}
.compDtptDiv .summDiv p{position: relative;font-weight: 700;font-size: 24px;line-height: 29px;color: #333333;}
.compDtptDiv .summDiv p em{border-radius: 100px;background: #02B763;padding: 4px 8px;color: #FFF;font-size: 12px;font-weight: 700;line-height: 16px;position: relative;left: 8px;bottom: 3px;}
.compDtptDiv .summDiv p span{border: 2px solid #FF7676;border-radius: 8px;padding: 3px 4px;font-weight: 700;font-size: 12px;line-height: 15px;color: #FF7676;position: absolute;right: 0;}
.compDtptDiv .summDiv p span.adj{color: #02B763;border: 2px solid #02B763;}
.compDtptDiv .divArea{padding: 0 20px;border-bottom: solid 8px #F2F2F2;}
.compDtptDiv ul{padding-top: 32px;}
.compDtptDiv ul li{font-size: 14px;line-height: 17px;color: #333333;display: flex;padding-bottom: 20px;}
.compDtptDiv ul li label{flex: 1;min-width: 75px;}
.compDtptDiv ul li span{max-width: 80%;text-align: right;}
.compDtptDiv .uploadArea{padding: 32px 20px;}
.compDtptDiv .uploadArea h5{padding-bottom: 20px;}

/* 신용카드 결제 */
.ldtn{padding: 0 0 100px;}
.ldtn .amtDiv{padding: 32px 0;border-radius: 12px;border: 1px solid #02B763;background: #FFF;box-shadow: 0px 6px 24px 0px rgba(2, 183, 99, 0.15);position: sticky;top: 74px;margin: 0 17px;}
.ldtn .amtDiv h5{color: #333;font-size: 14px;font-style: normal;font-weight: 700;line-height: normal;text-align: center;}
.ldtn .amtDiv p{color: #333;font-size: 24px;font-style: normal;font-weight: 700;line-height: normal;display: flex;align-items: center;justify-content: center;padding-top: 8px;}
.ldtn .amtDiv p img{padding-right: 5px;}
.ldtn > ul{padding: 0 17px;}
.ldtn > h4{color: #333;font-size: 18px;font-weight: 700;line-height: 32px;letter-spacing: -0.54px;padding: 24px 17px 0;}
