.bodyBg{background-color: #FFFFFF;}

.btchInfo{padding: 0 0 90px;}
.btchInfo > ul{margin-left: 17px;margin-right: 17px;}
.btchInfo .amt{font-size: 14px;color: #333333;}
.btchInfo .amt em{font-weight: 700;}
.btchInfo :global .topTitleUl{background-color: #F8F8F8;border-radius: 25px;border: none;padding-top: 29px;}

.btchIng{padding: 0 17px;}
.btchIng .step{text-align: center;}
.btchIng .step img:first-child{padding-right: 20px;}
.btchIng .step img:last-child{padding-left: 20px;}
.btchIng > ul{padding-bottom: 90px;}
.btchIng > ul .uploadArea{}
.btchIng > ul .uploadArea > div{display: grid;padding-top: 5px;grid-template-columns: 1fr 1fr 1fr;grid-column-gap: 10px;}
.btchIng > ul .uploadArea > div label{background-color: #F8F8F8;border-radius: 12px;display: flex;align-items: center;justify-content: center;height: 77px;}
.btchIng > ul .uploadArea input{display: none;}
.btchIng > ul .uploadArea > div > div{position: relative;}
.btchIng > ul .uploadArea > div > div .vchrImg{border-radius: 12px;object-fit: cover;width: 100%;}
.btchIng > ul .uploadArea > div > div .del{position: absolute;top: 0;right: 0;}

.btchArea{}
.btchArea .searchDiv{display: flex;align-items: center;padding: 12px 20px;border-bottom: 1px solid #CCCCCC;position: sticky;top: 74px;background: #fff;z-index: 1;}
.btchArea .searchDiv span{flex: 1;font-weight: 500;font-size: 14px;line-height: 17px;color: #333333;display: inline-block;text-align: center;}
.btchArea .searchDiv img:last-child{transform: rotate(180deg)}
.btchArea .searchDiv img.noVtlz{opacity: 0.3;}
.btchArea .adjDiv{padding: 32px 20px;border-bottom: solid 8px #F2F2F2;}
.btchArea .adjDiv h5{font-weight: 700;font-size: 14px;line-height: 17px;color: #333333;}
.btchArea .adjDiv > p{font-weight: 700;font-size: 24px;line-height: 29px;color: #333333;padding-top: 8px;}
.btchArea .adjDiv li{display: flex;font-weight: 400;font-size: 14px;line-height: 17px;color: #333333;padding-top: 20px;}
.btchArea .adjDiv li p{flex: 1; text-align: right;}
.btchArea .compListDiv{padding: 12px 20px;}
.btchArea .compListDiv > ul > li{border-bottom: 1px solid #E6E6E6;padding: 20px 0;}
.btchArea .compListDiv > ul > li.active{}
.btchArea .compListDiv > ul > li h5{font-size: 12px;line-height: 14px;color: #333333;}
.btchArea .compListDiv > ul > li div.smryDiv{display: flex;align-items: center;padding-top: 12px;}
.btchArea .compListDiv > ul > li div.smryDiv p{font-weight: 700;font-size: 16px;line-height: 19px;color: #333333;flex: 1;}
.btchArea .compListDiv > ul > li.active div.smryDiv p{color: #02B763;}
.btchArea .compListDiv > ul > li div.smryDiv span{font-weight: 500;font-size: 14px;line-height: 17px;color: #333333;padding-right: 20px;}
.btchArea .compListDiv > ul > li.active div.smryDiv span{color: #02B763;}
.btchArea .compListDiv > ul > li div.smryDiv img{transform: rotate(270deg)}
.btchArea .compListDiv > ul > li.active div.smryDiv img{transform: rotate(0)}
.btchArea .compListDiv > ul > li div.dtptDiv{overflow: hidden;transition: max-height 0.2s ease-out;max-height: 0;}
.btchArea .compListDiv > ul > li.active div.dtptDiv{max-height: 1000px;transition: max-height 0.3s ease-in;}
.btchArea .compListDiv > ul > li div.dtptDiv ul{border-top: 1px solid #E6E6E6;margin-top: 20px;}
.btchArea .compListDiv > ul > li div.dtptDiv li{padding-top: 32px;display: flex;}
.btchArea .compListDiv > ul > li div.dtptDiv li:first-child{padding-top: 20px;}
.btchArea .compListDiv > ul > li div.dtptDiv li span{font-size: 14px;line-height: 17px;color: #333333;}
.btchArea .compListDiv > ul > li div.dtptDiv li span:first-child{flex: 1;}

.compDtpt{}
.compDtpt .content{padding: 0 17px;}
.compDtpt .content > ul{padding-top: 24px;}

.compDtptDiv{transition: all 0.3s ease-in;top: 100%;position: fixed;height: 100%;width: 100%;background-color: #FFFFFF;z-index: 1;opacity: 0;overflow: auto;}
.compDtptDiv.active{transition: top 0.3s ease-out;top: 0;opacity: 1;}
.compDtptDiv .titleDiv{display: flex;padding: 22.5px 20px;align-items: center;position: sticky; top: 0;background-color: #FFFFFF;z-index: 1;}
.compDtptDiv .titleDiv h5{font-weight: 500;font-size: 16px;line-height: 19px;color: #333333;flex: 1;}
.compDtptDiv .summDiv{padding: 16px 20px;border-bottom: solid 8px #F2F2F2;}
.compDtptDiv h5{font-weight: 700;font-size: 14px;line-height: 17px;color: #333333;padding-bottom: 8px;}
.compDtptDiv .summDiv p{position: relative;font-weight: 700;font-size: 24px;line-height: 29px;color: #333333;}
.compDtptDiv .summDiv p span{border: 2px solid #FF7676;border-radius: 8px;padding: 3px 4px;font-weight: 700;font-size: 12px;line-height: 15px;color: #FF7676;position: absolute;right: 0;}
.compDtptDiv .summDiv p span.adj{color: #02B763;border: 2px solid #02B763;}
.compDtptDiv .divArea{padding: 0 20px;border-bottom: solid 8px #F2F2F2;}
.compDtptDiv ul{padding-top: 32px;}
.compDtptDiv ul li{font-size: 14px;line-height: 17px;color: #333333;display: flex;padding-bottom: 20px;}
.compDtptDiv ul li label{flex: 1;}
.compDtptDiv ul li span{max-width: 80%;text-align: right;}
.compDtptDiv .uploadArea{padding: 32px 20px;}
.compDtptDiv .uploadArea h5{padding-bottom: 20px;}