@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-weight: 400;}
body{margin: 0;}
a{color:#2E2FD0;}
h1,h2,h3,h4,h5,p,ul{margin:0;}
a{color: #000000;text-decoration: none;}
.d-none{display: none !important;}
li{list-style-type: none;}
ul{padding:0;}
em{font-style: normal;}

/* headTitle */
.headTitle{padding: 17px;background-color: #FFFFFF;position: sticky;top:0;}
.headTitle h3{position: absolute;top: 0;text-align: center;width: calc(100% - 104px);margin: 17px 35px;}

.naviStep{display: flex;padding: 0 17px;}
.naviStep span{background-color: #E4E4E4;border-radius: 6px;display: inline-block;height: 7px;margin-right: 12px;width: 100%;}
.naviStep span.on{background-color: #02B763;}
.naviStep span:last-child{margin-right: 0;}


/* input - checkbox */
input[type=checkbox]{display: none;}
input[type=checkbox]+label {padding-left: 34px;background-image: url('/assets/images/icon/iconCheckOff.svg');background-position-y: center;background-size: 24px;background-repeat: no-repeat;height: 24px;display: inline-flex;align-items: center;}
input[type=checkbox]:checked+label {background-image: url('/assets/images/icon/iconCheckOn.svg');}
input[type=checkbox]:disabled+label{opacity: 0.5;}

/* alert confirm */
.alertArea,.confirmArea{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);padding: 0 17px;display: flex;flex-direction: column;}
.alertArea > div,.confirmArea > div{background-color: #FFFFFF;border-radius: 12px;width: calc(100% - 68px);margin: auto 0;padding: 24px 17px;}
.alertArea > div h3,.confirmArea > div h3{color: #373454;font-size: 18px;font-weight: 500;text-align: center;padding-top: 8px;}
.alertArea > div p,.confirmArea > div > p{color: #373454;font-size: 14px;text-align: center;padding: 24px 0;}
.alertArea > div button, .confirmArea > div button{border: none;background-color: #02B763;border-radius: 12px;color: #FFFFFF;font-size: 16px;font-weight: 700;width: 100%;padding: 14px 0;}
.confirmArea > div > div{display: flex;}
.confirmArea > div button.cancel{background-color: #FFFFFF;border: #E4E4E4 1px solid;color: #333333;margin-right: 16px;}
