.index {overflow-x: hidden;}
.index .header{background-color: #02B763;padding: 22px 17px;display: flex; align-items: center;position: sticky;top: 0;z-index: 1}
.index .header a{flex: 1;text-align: right;}
.index .header a span{color: #FFFFFF;font-size: 16px;display: flex;align-items: center;justify-content: right;}
.index .header a span img{padding-left: 5px;}
.index .btnArea{display: flex;padding: 24px 17px;}
.index .btchArea{position: relative;transition: 0.3s all;}
.index .btchArea.ing{transform: translateX(-100%)}
.index .btchArea ul{position: absolute;top: 0;width: calc(100% - 34px);padding-bottom: 60px}
.index .btchArea ul:last-child{left: 100%;}
.index .refresh{background-color: #F4997A;box-shadow: #00000029 3px 3px 6px;border-radius: 100%;position: fixed;right: 17px;bottom: 81px;width: 60px;height: 60px;text-align: center;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.index .refresh span{color: #FFFFFF;font-size: 10px;display: block;}
