.header{background-color: #02B763;padding: 22px 17px;display: flex; align-items: center;position: sticky;top: 0;}
.header span{color: #FFFFFF;font-size: 16px;flex: 1;text-align: right;}
.btnArea{display: flex;padding: 24px 17px;}
